---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Hello World</title>
  </head>
  <body>
    <nav class="w-full bg-gray-200">
      <div class="container">
        <div class="flex space-x-6">
          <a class="py-2" href="/">Home</a>
          <a class="py-2" href="/about">About</a>
        </div>
    </div>
    </nav>
    <slot />
  </body>
</html>
